<footer class="row tm-mt-small">
    <div class="col-12 font-weight-light">
        <p class="d-inline-block tm-bg-black text-white py-2 px-4">
            Copyright &copy; 2022
        </p>
    </div>
</footer>
</div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="/static/js/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="/static/js/utils.js"></script>
<script src="/static/js/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="/static/js/fullcalendar.min.js"></script>
<!-- https://fullcalendar.io/ -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="/static/js/tooplate-scripts.js"></script>
<script>
    let ctxLine,
        ctxBar,
        ctxPie,
        optionsLine,
        optionsBar,
        optionsPie,
        configLine,
        configBar,
        configPie,
        lineChart;
    barChart, pieChart;
    // DOM is ready
    $(function() {
        updateChartOptions();
        drawLineChart(); // Line Chart
        drawBarChart(); // Bar Chart
        drawPieChart(); // Pie Chart
        drawCalendar(); // Calendar

        $(window).resize(function() {
            updateChartOptions();
            updateLineChart();
            updateBarChart();
            reloadPage();
        });
    })
</script>
</body>

</html>